#### 1.	Write a Python program to convert kilometers to miles?

In [25]:
def km_to_miles():
    km = float(input("Enter the distance in kilometer: ")) #taking a float number as input for kilometers
    mile = round((0.621371 * km),2) #1km is equal to 0.621371 miles, using the km variable which is in kilometers 
    #to convert to miles 
    return f"The {km} kms in miles is {mile} miles"

In [26]:
km_to_miles()

Enter the distance in kilometer: 45

'The 45.0 kms in miles is 27.96 miles'

#### 2.	Write a Python program to convert Celsius to Fahrenheit?

In [35]:
# formula to convert degree celsius to fahrenheit (0°C × 9/5) + 32 = 32°F

def cel_to_f():
    temp = float(input("Enter temperature in °C(Degree Celsius): "))
    fh = (temp * 9/5) + 32
    return f"{temp}°C in Fahrenheit is {fh}°F "

In [36]:
cel_to_f()

Enter temperature in °C(Degree Celsius): 35.7

'35.7°C in Fahrenheit is 96.26°F '

#### 3.	Write a Python program to display calendar?

In [55]:
import calendar

In [75]:
def cal(yyyy):
    """Enter a year to get the entire calendar"""
    global calendar
    print(calendar.calendar(yyyy))

In [77]:
cal(1986)

                                  1986

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

#### 4.	Write a Python program to solve quadratic equation?

In [52]:
#we solve a quadratic equation by the formula : x = (-b+(sq.root(b**2-4a*c)))/2*a & (-b-(sq.root(b**2-4a*c)))/2*a
#d is discriminant and is equal to (b**2 - 4*a*c)

def solve_quad(a,b,c):

    
    print("The quadratic equation we are solving is",a,"x**2 +",b,"x +",c)
    
    d = (b**2-4*a*c)
    
    qe1 = (-b+(d)**0.5)/(2*a)
    
    qe2 = (-b-(d)**0.5)/(2*a)
    
    return f"When we solve for x we get {qe1} & {qe2}"

In [54]:
solve_quad(3.5,5.1,6)

The quadratic equation we are solving is 3.5 x**2 + 5.1 x + 6

'When we solve for x we get (-0.7285714285714284+1.087873792199767j) & (-0.7285714285714286-1.087873792199767j)'

#### 5.	Write a Python program to swap two variables without temp variable?

In [92]:
a = 8
b = 5

a = a+b
a

13

In [93]:
b = a-b
b

8

In [94]:
a = a-b
a

5

In [95]:
print(a)
print(b)

5
8

In [98]:
def num_swap(a,b):
    a = a+b #adding the two numbers and storing the sum in the first variable
    b = a-b #subtracting the second variable from the sum variable, which will give us the first variable and storing
    #it in the second variable
    a = a-b # finally subtracting the new value of the second variable from the sum variable and assigning it to the 
    #initial variable
    
    return f"a:{a},b:{b}"

In [99]:
num_swap(34,45)

'a:45,b:34'