#### What exactly is []?

##### Answer

In python a "List" is defined within "[]". We can enter any data inside these square brackets and they will be considered as elements of a list. For Example:

a = ["test",34,88.5,True]

#### 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

##### Answer

To add any element to a specific index position in a list, we will use the "insert" function. So, to add 'hello' to as the 3rd value we have to add to the index number 2. The code is shown below:

In [1]:
spam = [2, 4, 6, 8, 10]
spam.insert(2,'hello')

In [2]:
spam

[2, 4, 'hello', 6, 8, 10]

'hello' hs been added as the 3rd value

#### Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

#### 3. What is the value of spam[int(int('3' * 2) / 11)]?

##### Answer

In [3]:
spam = ['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)]

'd'

The answer will be 'd'. Here is the explanation:

The code block "spam[int(int('3' * 2) / 11)]" will first execute ('3'*2) and since '3' is a string mltiplying a string with 2 will only repeat the string two times hence we get '33'. Then the int('33') will be executed which is nothing but typecasting the string to an integer. So now string(33) becomes a number 33 and next it is divided by 11 which gives an output of 3.0 which is a 'float'. Thus the next 'int' will convert the float to an integer again. So, in the end we are left with spam[3] which is equal to 'd' in the spam list.

#### What is the value of spam[-1]?

##### Answer

The answer is 'd'. We know that, in pyhton index positions from left to right starts from 0,1,2,3 and so on. However, when we want to traverse a list from right to left, the last element of the list(when going from left to right) or the first element(when traversing from right to left) is denoted by -1. The list then traverses like -1,-2,-3 and so on. Here, 'd' is the last element in the list. Hence, spam[-1] gives us 'd'.

#### 5. What is the value of spam[:2]?

##### Answer

In [14]:
spam[:2]

['a', 'b']

In python, list elements can be accessed by specifying the index positions. The index positions are specified inside []. The first value is the index start position and the second is the index stop positon excluding that position. Which means, whatever value is given in the stop position we have to sbtract 1 from it. If no value is given at the start position like in this case, by default index position 0 is assumed and if the stop posiition is left blank it means, it will go to the end of the list. In our case, since the start position is not there, we will start with index position 0 and stop positiion (2-1) which is 1. Thus giving us "a" which is in the index position 0 and "b" which is in the index position 1.

#### Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

#### 6. What is the value of bacon.index('cat')?

##### Answer

The value of bacon.index('cat') will be 1 as shown below. The index method returns the first index position of any element in a list. Although, in this list, there are 2 'cat' elements, only the first is returned which is present in the index position 1

In [17]:
bacon = [3.14, 'cat','11', 'cat', True]
bacon.index('cat')

1

#### 7. How does bacon.append(99) change the look of the list value in bacon?

##### Answer

.append() is a built in function available to lists. It adds an elements to the tail of any list. In this case, the integer 99 will be added to the end of the list i.e it will be added after the boolean value 'True'. Thus making 99 the new 'last element' of the list bacon.

In [21]:
bacon

[3.14, 'cat', '11', 'cat', True]

In [22]:
bacon.append(99)

In [23]:
bacon

[3.14, 'cat', '11', 'cat', True, 99]

#### 8. How does bacon.remove('cat') change the look of the list in bacon?

##### Answer

The inbuilt function .remove() in lists, removes an entry from the list based on it's value. However, it should be kept in mind that if more than one entry of the "same" value is present in the list, remove will take out only the first occurence and not the others. In this case, only the first occurence of 'cat' in index position 1 will re removed from the list. One more important property is that this is removes an element permanently from a list.

In [24]:
bacon.remove('cat')

In [25]:
bacon

[3.14, '11', 'cat', True, 99]

#### 9. What are the list concatenation and list replication operators?

##### Answer

List Concatenation operator is "+". Let's see an example below:

In [26]:
#let us create two lists

l1 = [1,2,3,4]
l2 = ['a','b','c','d']

#We use '+' to concat lists

l1+l2

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

To replicate a list, we use '*'. Let us see how:

In [27]:
#we will use list l1. If we want to replicate the list twice we do the following

l1 * 2

[1, 2, 3, 4, 1, 2, 3, 4]

Notice, how the list is just repeated twice. This is how we replicate a list.

#### 10. What is difference between the list methods append() and insert()?

##### Answer

The list method append() adds an element to the tail of any list. It adds element/s to the very end of a list, thus letting it assume the last index positon. Let us take the l1 from the previous question. Let's see what append does

In [28]:
l1.append('test')
l1

[1, 2, 3, 4, 'test']

Observe how the new string element 'test' is added to the end of the list. Now if we add another element, "test" will no longer be the last element.

In [29]:
l1.append(200)
l1

[1, 2, 3, 4, 'test', 200]

The insert() method allows us to add elements to a list in specific index positions. Let's say we want to add 'ineuron' after the element 4. So the new element will have to be added after the index position 3. We will then add 'ineuron' at the index position 4. Let's see how:

In [30]:
l1.insert(4,'ineuron')
l1

[1, 2, 3, 4, 'ineuron', 'test', 200]

Once we insert any element to a list, the elements to the right to this element are shifted by one positive index position.

#### 11. What are the two methods for removing items from a list?

##### Answer

The two methods for removing items from a list are :

remove: To remove elements by value by value of the element we use remove. Example is shown above.

pop: pop is used to remove elements from the end of a list (default) or from any given index position. Let us look at an example below:

In [32]:
l1.pop()
l1

[1, 2, 3, 4, 'ineuron', 'test']

By default, pop removes the last element of a list. If we want to remove elements by index position we just have to provide the index postion as an argument to the method. For example we want to now take out 'ineuron' from the list:

In [33]:
l1.pop(4)
l1

[1, 2, 3, 4, 'test']

#### 12. Describe how list values and string values are identical.

##### Answer

List values can be strings as well. However the primary similarity is that both list values and strings are iterable. Both list values and strings are ordered and follow a sequence.

#### 13. What's the difference between tuples and lists?

##### Answer

The primary difference between lists and tuples are that tuples are immutable whereas lists are mutable. Lists are represented by [] and tuples are repesented by ().

#### 14. How do you type a tuple value that only contains the integer 42?

##### Answer

A tuple with a single element can be called by putting a comma after the tuple element to let the python compiler know that it is a tple or else it will recognise it as an integer or any other data type based on our input. Below is example given:

In [43]:
t1 = (42)

In [44]:
type(t1)

int

In [45]:
t1 = (42,)

In [46]:
type(t1)

tuple

#### 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

##### Answer

To get a list value of a tuple we need to pass the tuple through "list()". Let us see an example below:

In [47]:
#we will define a tuple first

t1 = (45,98,"test","string")
type(t1)

tuple

In [49]:
#now we will convert the tuple to a list

lst = list(t1)
print(lst)
print(type(lst))

[45, 98, 'test', 'string']
<class 'list'>

Fro the above code snippet we see how a tuple can be converted to a list. Now, let us see how we can convert a list to a tuple. We just need to pass the list through "tuple()" method. Let us see how:

In [50]:
#We already have the list "lst"

lst

[45, 98, 'test', 'string']

In [51]:
t1 = tuple(lst)
print(t1)
print(type(t1))

(45, 98, 'test', 'string')
<class 'tuple'>

Here we see how we have successfully converted a list into a tuple

#### 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

##### Answer

They are references to list values. Let us see this through an example here

In [52]:
#we will create a list first

l1 = [1,2,3,['a','b']]

# Now let us create a new list

l2 = l1

l2

[1, 2, 3, ['a', 'b']]

Here l2 is not a new list, but it is a reference to the values of the old list l1. Here l2 is a variable. If we see the id's f both l1 and l2 it will be the same which only means that  l2 is not a new object but a variable referencing to the original object

In [53]:
print(id(l1))
print(id(l2))

140568321075328
140568321075328

#### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

##### Answer

.copy() is also know as 'shallow copy'. Let's say we use .copy() with a list, this creates a new memory location for the list that is copied. Let us see an example for better understanding:

In [56]:
#we will create a new list

new_list = [1,2,3,4,5,6]

In [57]:
#if we use .copy here

still_new = new_list.copy()
still_new

[1, 2, 3, 4, 5, 6]

Now, my new_list and still_new lists are a replica of each other. Now if we try and make a change in still_new, it will not reflect in new_list. Let us see

In [58]:
still_new[1] = 'test'

In [59]:
still_new,new_list

([1, 'test', 3, 4, 5, 6], [1, 2, 3, 4, 5, 6])

In [60]:
still_new.append(80)

In [61]:
still_new,new_list

([1, 'test', 3, 4, 5, 6, 80], [1, 2, 3, 4, 5, 6])

This is due to the fact that both these lists are in different memory locations which is shown below

In [63]:
print(id(new_list))
print(id(still_new))

140568321179136
140568321179456

But, if we are using a nested list here, things change a bit. Let us see how

In [76]:
l1 = [[1,2,3],[4,5,6]]
l2 = l1.copy()

In [77]:
l1,l2

([[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

In [78]:
l2[1][2] = "changed"

In [79]:
l2

[[1, 2, 3], [4, 5, 'changed']]

In [80]:
l1

[[1, 2, 3], [4, 5, 'changed']]

In case of a nested list, such substitution takes effect because both the variables are referring to the same object inside the nested list.

In [81]:
l2.append([7,8,9])

In [82]:
l2

[[1, 2, 3], [4, 5, 'changed'], [7, 8, 9]]

In [83]:
l1

[[1, 2, 3], [4, 5, 'changed']]

But a stark difference is when we try to append to a nested list. It will not reflect in the other list. Thus in nested list changes happen in the 'object' level i.e objects inside a list inside a list, but changes does not happen in the item level. Here item is [7,8,9] which is a list inside a list. Nested list is a collection of items.

Now if we see deepcopy

In [85]:
import copy

l1 = [1,2,3,4]
l2 = copy.deepcopy(l1)

In [86]:
l1[2] = 'a'
l1

[1, 2, 'a', 4]

In [87]:
l2

[1, 2, 3, 4]

In deep copy, when we substitute values in a normal list, it works exactly like shallow copy. But let us see for Nested Lists

In [88]:
l3 = [[10,11,12],[13,14,15],[15,16,17]]
l4 = copy.deepcopy(l3)

In [89]:
l4[1][2] = 100
l4

[[10, 11, 12], [13, 14, 100], [15, 16, 17]]

In [90]:
l3

[[10, 11, 12], [13, 14, 15], [15, 16, 17]]

Here we see that, the list l3 is not being updated even when change was made at the object level which shows that both the variables have different memory location.